{% extends 'shopapp/base.html' %}
{%load static %}
{% block main_content %}
<div class="container">
    <p  class="headingp">Our Pets</p>
    {%if petfoodposts%}
    {% for petfoodpost in petfoodposts %}
    <div class="cardsf">
        <div class="imagef">
          <div class ="cardimgf">
            <img class="productimg" src="{{petfoodpost.image.url}}">
          </div>
        </div>
        <div class="cardbottom">
          <div class="cardtitle">
            <a href="">{{petfoodpost.name}}</a>
          </div>
          <div class="carddesc">
            <p>Price:{{petfoodpost.price}}</p>
          </div>
          <button class="buybtn">Buy</button>
          <form action="" method="POST">
            {%csrf_token%}
            <input hidden type="text" value="{{petfoodpost.id}}" name="petfoodpost">
            <input type="submit" class="cartbtn" value="Add to cart">
          </form>
        </div>
    </div>
    {%endfor%}
    {%endif%}
</div>
{% endblock %}