{% extends 'shopapp/base.html' %}
{%load static %}
{% block main_content %}
<div class="container">
    <p>Our Pets</p>
    {%if petposts%}
    {% for petpost in petposts %}
    <div class="cardst">
        <div class="image">
          <div class ="cardimg">
            <img src="{{petpost.image.url}}">
          </div>
        </div>
        <div class="cardbottomt">
          <div class="cardtitle">
            <a href="">{{petpost.name}}</a>
          </div>
          <div class="carddesc">
            <p>Price:{{petpost.price}}</p>
          </div>
          <button class="buybtn">Buy</button>
          <!-- <button class="cartbtn">Add to cart</button> -->
          <form action="" method="post">
            {%csrf_token%}
            <input hidden type="text" name='petpost' value="{{petpost.id}}">
        
            <input type="submit" class="cartbtn" value="ADD TO CART">
          </form>
        </div>
    </div>
    {%endfor%}
    {%endif%}
</div>
{% endblock %}

