{% extends 'shopapp/base.html' %}
{%load static %}
{% block main_content %}
<div class="container">
    <p>Our Pets</p>
    {%if pettoyposts%}
    {% for pettoypost in pettoyposts %}
    <div class="cards">
        <div class="imaget">
          <div class ="cardimgt">
            <img class="productimgt" src="{{pettoypost.toy_image.url}}">
          </div>
        </div>
        <div class="cardbottom">
          <div class="cardtitle">
            <a href="">{{pettoypost.toyname}}</a>
          </div>
          <div class="carddesc">
            <p>Price:{{pettoypost.toy_price}}</p>
          </div>
          <button class="buybtn">Buy</button>
          <button class="cartbtn">Add to cart</button>
        </div>
    </div>
    {%endfor%}
    {%endif%}
</div>
{% endblock %}