{% extends 'shopapp/base.html' %}
{%load static %}
{% block main_content %}
<div class="container">
    <p>Our Pets</p>
    {%if pettoyposts%}
    {% for pettoypost in pettoyposts %}
    <div class="cards">
        <div class="imaget">
          <div class ="cardimgt">
            <img class="productimgt" src="{{pettoypost.image.url}}">
          </div>
        </div>
        <div class="cardbottom">
          <div class="cardtitle">
            <a href="">{{pettoypost.name}}</a>
          </div>
          <div class="carddesc">
            <p>Price:{{pettoypost.price}}</p>
          </div>
          <button class="buybtn">Buy</button>
          <form action="" method="POST">
            {%csrf_token%}
            <input  hidden type="text" value="{{pettoypost.id}}" name="pettoypost">
            <input type="submit" class="cartbtn" value="Add to cart">
          </form>
        </div>
    </div>
    {%endfor%}
    {%endif%}
</div>
{% endblock %}