.middle2{
    background-color: white;
    
}
.cards{
    float: left;
    height:200px;
    display: block;
    width:190px;
    margin:10px;
    box-shadow: 2px 2px 10px black;
  }
  .productimgt{
    height:100px;
    width:160px;
    padding:6px;
  }
  .cardbottom{
    height:100px;
    width:100%;
  }
  .cardtitle{
      text-align: center;
  }
  .cardtitle a{
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .carddesc p{
    text-align: center;
    color: black;
    font-size: 15px;
  }
  .buybtn{
    margin: 4px;
    width:92%;
    font-size: 15px;
    
  }